<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="iThreadWaitingTime" value="100" />
    <add key="iUseCpuCore" value="4" />
    <add key="sLastLanguage" value="zh-CN" />
    <add key="iNumUpDown5" value="100" />
    <add key="iNumUpDown6" value="100" />
    <add key="p2SaveBitmapFormat" value="0" />
    <add key="iNumUpDown13" value="100" />
    <add key="iNumUpDown8" value="100" />
    <add key="iNumUpDown12" value="100" />
    <add key="i2CheckHash" value="0" />
    <add key="iNumUpDown16" value="100" />
    <add key="iNumUpDown17" value="100" />
    <add key="iF3NumUpDown1" value="624" />
    <add key="iF3NumUpDown2" value="1104" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll;bin;susie"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>